.tour-div {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
.tour-start {
    padding: 3px 6px;
    border-radius: 8px;
    border: 2px solid #d4b483;
    background: #ffefc5;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
    font-family: "Montez", cursive;
    font-size: 2.2rem;
}

.tour-start:hover {
  background: #ffe49b;
}

.reactour__popover {
    max-width: 40vw !important;
    padding: 24px 30px;
    border-radius: 12px;
    border: 1px solid #d4b483;
    background: #ffefc5;
    cursor: pointer;
    font-weight: medium;
    transition: all 0.2s ease;
    font-family: "Montez", cursive;
    font-size: 1.6rem;
}

/* Phone Portrait (default small screens) */
@media only screen and (max-width: 600px) and (orientation: portrait) {
    .tour-div {
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 9999;
    }
    .tour-start {
        padding: 8px 12px;
        font-size: 1.8rem;
    }

    .reactour__popover {
        max-width: 38vw !important;
    }
}

/* Phone Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
  
    .tour-start {
        padding: 8px 12px;
        font-size: 1.8rem;
    }

    .reactour__popover {
        max-width: 35vw !important;
    }
}

/* Tablet Portrait */
@media only screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {
  .tour-div {
        position: fixed;
        bottom: 13px;
        right: 13px;
        z-index: 9999;
    }

    .tour-start {
        padding: 8px 12px;
        font-size: 1.9rem;
    }

    .reactour__popover {
        max-width: 38vw !important;
    }
}

/* Tablet Landscape */
@media only screen and (min-width: 601px) and (max-width: 1366px) and (orientation: landscape) {
    .tour-div {
        position: fixed;
        bottom: 12px;
        right: 12px;
        z-index: 9999;
    }

    .tour-start {
        padding: 8px 12px;
        font-size: 1.85rem;
    }

    .reactour__popover {
        max-width: 32vw !important;
    }
}